In [1]:
list = ['abcd', 786, 2.23, 'runoob', 70.2]
tinylist = [123, 'runoob']

print(list)
print(list[0])
print(list[1:3])
print(list[2:])
print(tinylist * 2)
print(list + tinylist)

['abcd', 786, 2.23, 'runoob', 70.2]
abcd
[786, 2.23]
[2.23, 'runoob', 70.2]
[123, 'runoob', 123, 'runoob']
['abcd', 786, 2.23, 'runoob', 70.2, 123, 'runoob']

In [2]:
a = [1,2,3,4,5,6]
a[0] = 9
print(a)

a[2:5] = [13, 14, 15]
print(a)

a[2:5] = []
print(a)

[9, 2, 3, 4, 5, 6]
[9, 2, 13, 14, 15, 6]
[9, 2, 6]

In [6]:
def reverseWords(input):
    inputWords = input.split(" ")
    inputWords = inputWords[-1::-1]

    output = ' '.join(inputWords)
    return output

input = 'I like runoob'
rw = reverseWords(input)
print(rw)

runoob like I

In [7]:
# Tuple
tuple = ('abcd', 786, 2.23, 'runoob', 70.2)
tinytuple = (123, 'runoob')

print(tuple)
print(tuple[0])
print(tuple[1:3])
print(tuple[2:])
print(tinytuple * 2)
print(tuple + tinytuple)

('abcd', 786, 2.23, 'runoob', 70.2)
abcd
(786, 2.23)
(2.23, 'runoob', 70.2)
(123, 'runoob', 123, 'runoob')
('abcd', 786, 2.23, 'runoob', 70.2, 123, 'runoob')

In [8]:
tup = (1,2,3,4,5,6)
print(tup[0])

print(tup[1:5])
tup[0] = 11 # TypeError: 'tuple' object does not support item assignment

1
(2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [9]:
tup1 = ()
tup2 = (20,)
not_a_tuple = (42)

print(type(tup1), type(tup2), type(not_a_tuple))

<class 'tuple'> <class 'tuple'> <class 'int'>

In [10]:
# Set
sites = {'Google', 'Taobao', 'Runoob', 'Facebook', 'Zhihu', 'Baidu'}
print(sites)

if 'Runoob' in sites:
    print('Runoob is in set')
else:
    print('Runoob is not in set')

# set可以进行集合运算
a = set('abracadabra')
b = set('alacazam')

print(a)

print(a - b)     # a 和 b 的差集
print(a | b)     # a 和 b 的并集
print(a & b)     # a 和 b 的交集
print(a ^ b)     # a 和 b 中不同时存在的元素

{'Baidu', 'Zhihu', 'Runoob', 'Taobao', 'Facebook', 'Google'}
Runoob is in set
{'c', 'a', 'd', 'r', 'b'}
{'r', 'd', 'b'}
{'c', 'l', 'a', 'd', 'z', 'r', 'm', 'b'}
{'c', 'a'}
{'l', 'd', 'r', 'z', 'm', 'b'}

In [11]:
dict = {}
dict['one'] = "1"
dict[2] = "two"

tinydict = {'name': 'runoob','code':1, 'site': 'xxx'}

print(dict['one'])
print(dict[2])
print(tinydict)
print(tinydict.keys())
print(tinydict.values())

1
two
{'name': 'runoob', 'code': 1, 'site': 'xxx'}
dict_keys(['name', 'code', 'site'])
dict_values(['runoob', 1, 'xxx'])

In [13]:
x = bytes("hello", encoding="utf-8")
print(x)

x = b"hello"
y = x[1:3]
print(y)
z = x + b" world"
print(z)

b'hello'
b'el'
b'hello world'

In [15]:
x = b"hello"
if x[0] == ord("h"):
    print("The first element is 'h'")

The first element is 'h'